SERVER_PORT=3000
#TESTNET VARIABLES
PK="PRIVATE-KEY-HERE"

RPC= "https://rpc-geo-test-zc16z3tcvf.t.conduit.xyz/" #TESTNET
#In order to use testnet, you will need to load testnet ETH into a wallet of your choosing (I wouldnt use your mainnet smart wallet for this).

#MAINNET VARIABLES
# - To use getSmartAccountWalletClient you'll need the private key associated with your Geo account.
# - You can get the private key for your Geo Genesis account using https://www.geobrowser.io/export-wallet.
PK_SW="PRIVATE-KEY-HERE" #MAINNET SMART WALLET
# - For now, all transaction costs are sponsored on mainnet, so no GRT is needed in your smart wallet

#NOTION VARIABLES
NOTION_TOKEN=NOTION_API_KEY

TEABLE_API_KEY=TEABLE_API_KEY
TEABLE_API_URL=https://teable-production-1bd1.up.railway.app/api